.typer-tester {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, sans-serif; 
}

.typer-tester label {
  margin-bottom: 10px;
  font-size: 18px; 
}

.typer-tester select {
  margin-bottom: 20px;
  padding: 10px;
  font-size: 16px; 
}

.typer-tester .left {
  width: 50%;
}

.code-display {
  width: 100%;
  margin: 20px 0;
  padding: 20px;
  background-color: #f2f2f2;
  border-radius: 10px;
  font-size: 20pt;
  text-align: left; 
}
  
  .code-display .ruby {
    color: #701516;
  }
  
  .code-display .javascript {
    color: #f1e05a;
  }
  
  .code-display .python {
    color: #3572A5;
  }
  
  .code-display .c {
    color: #555555;
  }
  
  .code-display .go {
    color: #00ADD8;
  }
  
  .code-display .assembly {
    color: #6E4C13;
  }
  
  .code-display .machine-code {
    color: #000000;
  }
  
  .code-display .java {
    color: #b07219;
  }
  
  .code-display .correct {
    color: green;
  }
  
  .code-display .incorrect {
    color: red;
  }  
  
  .typer-tester textarea {
    width: 50%;
    margin-bottom: 20px;
    padding: 20px;
    font-size: 18px;
    border-radius: 10px;
    border: none;
    outline: none;
    resize: none; 
  }
  
  .progress {
    width: 100%;
  }
  
  .start-button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    font-size: 18px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
  }
  
  .start-button:hover {
    background-color: #3e8e41;
  }
  
  .my-textarea {
    background-color: #1e1e1e;
    color: #d4d4d4;
    font-family: "Courier New", Courier, monospace;
    font-size: 14px;
    border: none;
    padding: 10px;
    width: 100%;
    height: 200px;
  }
  